* {
    box-sizing: border-box;
    transition: all 500ms;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.815); */
    background-color: rgba(255, 255, 255, 0.931);
    
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

fieldset input {
    margin: 4px;
}

.demoNames {
    font-weight: 800;
    font-size: 1.2em;
}

.demoSpanTop {
    margin-top: 4px;
}

.demoSpanBottom {
    margin-bottom: 4px;
}

.wrapper {
    
    background: rgba(255, 255, 255, 0.849);
    /* background: rgba(54, 53, 48, 0.1); */
    
    border-radius: 12px;
    box-shadow: 0 0 15px black;
    color: rgba(255, 254, 254, 0.863);
   
    margin-right: 25%;
    margin-left: 18%;
    max-width: 960px;
}


.preUse {
    border-radius: 12;
    color: rgba(0, 0, 0, 0.815);
    margin-left: auto;
    margin-right:  auto;
    width: 94vh;
    height: 100%;
    max-width: 960px
}

.sinkBack {
    position: fixed;
    top: 20%;
    left: 20%;
    z-index: -1;
    
}

.banner {
    font-size: 8em;
    text-decoration: underline;
    font-family: 'Yellowtail', cursive;
    margin: 8px;
}

button {
    width: 40%;
    height: 35px;
    border-radius: 8px;
    background-color: rgba(143, 0, 0, 0.801);
    color: rgb(216, 217, 253);
    font-weight: 700;
}

button:hover {
    background-color: rgb(100, 8, 8)
} 

/****************************INTRO*CREATE*EVENT********/

.eventNameCheckLabel {
    font-size: 2em;
}

.eventCheck {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.eventCheckButtons {
    display: flex;
    justify-content: space-around;
   
}

.eventNameInput {
    font-size: 2em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto 20px auto;
}

.newEventSubmit {
    margin: auto;
}

.signUpSubmit {
    margin: auto;
}

/****************************INTRO*CREATE*EVENT********/

.appInfo {
    margin-top: 8%;
    margin-left: 14%;
    margin-right: 14%;
    text-align: center;
    font-size: 1.5em;
}

.appInfoButton {
    margin-left: auto;
    margin-right: auto;
}

/*******************************INTRO*VIEWS********/
.introLabel {
    margin-top: 20%;
}

.introView {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.introSelections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introButton {
    width: 40%;
    height: 35px;
    border-radius: 8px;
    margin-bottom: 8%;
    
}

.introPageFieldset {
    padding: 8px;
    border: none;
}

.introPageButton {
    margin: 4px
}

.accessView {
    width: 80%;
   
}

.accessFieldset {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.toggleIntro {

}

.authForm {
   display: flex;
   flex-direction: column;
   align-content: center;
}

.authFormDiv {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.loginBackButton {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accessFieldsetDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.eventInputGroup {
    display: flex;
    flex-direction: column;
    align-content: center;
}

input[class~="event"] {
    font-size: 1.7em;
    margin-left: auto;
    margin-right: auto;
}

label[class~="event"] {
    font-size: 1.4em;
   
}

fieldset[class~="event"] {
    text-align: center;
}

.adminInputGroups {
    display: flex;
    flex-direction: column;
    align-content: center;
}



/*******************************INTRO*VIEWS********/

/***********userListings************/
.userListing {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-radius: 12px;
    box-shadow: 0 0 15px black;
    padding: 12px;
    margin: 8px;
    width: 92%;
    
}

.userManageButton {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-evenly;
    align-items: flex-end;
}
/***********userListings************/
.failedResponse {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePageView {
    display: flex;
    flex-direction: row;
  

}

.siteNav {
   

    border-radius: 12px;
    box-shadow: 0 0 15px rgb(100, 8, 8);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background: rgba(245, 250, 255, 0.931);
    height: 100%;
    left: 0;
    max-width: 18%;
    overflow: hidden;
 
}

.navButton {
    width: 100px;
    height: 4%;
    margin-top: 20%;
}

.menuTab {
    border: solid 4px rgb(42, 42, 42);
    border-radius: 50px;
    width: 80px;
    height: 80px;
    position: fixed;
    left: 0;
    top: 2;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 8px
}

.menuTab .tabText {
    color: rgb(243, 243, 243);
    visibility: hidden;
}

.menuTab:hover {
    background: rgba(42, 42, 42, 0.952);
}

.menuTab:hover .tabText {
    visibility: visible;

}

.viewWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
 
    /* background: rgb(255, 255, 255); */
    background: rgba(255, 255, 255, 0.671);
    position: absolute;
    right: 2%;
    width: 80%;
    max-width: 80%;
    padding: 14px;
    overflow: auto;
}

.prompt {
    background: rgb(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px;
    width: 100%;

}

.updatePosts {

    padding: 25px;
}

a {
    font-size: 1rem;

    margin: 20px;
    padding: 12px;
    transition-duration: 500ms;
}

a:hover {
    cursor: pointer;
    /* background-color: white; */
    color: rebeccapurple;
}

/*********************************accountProfile****/
.accountProfile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    border-radius: 12px;
    box-shadow: 0 0 15px black;
    padding: 12px;
    margin: 8px;
    width: 92%;
}



.accountSpans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.fullnameSpan {
    margin: 14px;
}

.usernameSpan {
    margin: 14px;

}

.attending {
    margin: 14px;

}

.accountButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    width: 50%;
}

.profileEditButton {
    width: 80%;
}

.updateFieldset {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 0 15px black;
    padding: 12px;
    margin: 8px;
    width: 92%;
}


/*********************************accountProfile****/

/*********************************accountProfileManage****/
.accountManage { 
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 14%;
    margin-bottom: 14%;
}

.accountButtonManage {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 90%
}

.role {
    display: flex;
    flex-direction: column;
}

/*********************************accountProfileManage****/

.eventPost {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 0 15px black;
    padding: 12px;
    margin: 8px;
    width: 92%;
   
}

.eventPost:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.234);
}

.subPostTitle {
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.234);
}

.subPostTitle:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.567);
}


.subPost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postTitle {
    font-size: 1.6em;
    text-decoration: bold;
    border: none;
}

.commentListing {

    padding: 12px;
    margin: 8px;
}

.palette {

    padding: 12px;
    margin: 8px;
}

.commentContentInput {
    width: 100%;
}

.detailPage {
    display: flex;
    flex-direction: column;

    border-radius: 12px;
    box-shadow: 0 0 15px black;
    padding: 12px;
    margin: 8px;
    width: 92%;
    text-align: center;
   
}

.hidden {
    display: none;
}

@media only screen and (max-width: 1000px) {

    .preUse {
        width: 84vh;
    }
}

@media only screen and (max-width: 900px) {

    .preUse {
        width: 74vh;
    }

   

    .viewWrapper {
        max-width: 84%;
        
    }
}

@media only screen and (max-width: 800px) {

    .preUse {
        width: 100%;
    }

     .siteNav {
        padding: 8px;
        max-width: initial;
        width: 155px;
    }
}



@media only screen and (max-width: 700px) {


.siteNav {
        display: none;
        display: flex;
        width: 100%;
        height: 100vh;
        background: rgba(245, 250, 255, 0.931);
        z-index: 2;
        top: 0;
    }

    .navButton {
        width: 80%;
        height: 10%;
        margin-top: 4%;

    }

    .viewWrapper {
        position: static;
        right: initial;
        margin-left: auto;
    }

    .homePageView {
        padding-top: 100px;
    }

    ul {
        padding: 0;
    }

    .commentList {
        margin: 0;
        width: 100%;
    }

    .commentListing {
        padding: 0;
        margin: 0;
    }

    .postForm {
        max-width: 100%;
    }

    .eventPostContentInput {
        max-width: 100%;
    }

    .form-inputs {
        max-width: 180px;
    }

    button {
        width: 96%;
        margin: 3% 2% 0% 2%; 
    }

    .commentFormSubmit {
        width: 100%;
    }

    .profileEditButton {
        width: 100%;
        height: 25%;
    }

    .introButton {
        width: 30%;
        height: 25px;
        border-radius: 8px;
        margin-bottom: 8%;
    }

    .banner {
        font-size: 5em;
    }

    .menuTab {
       margin-left: 0;
       top: 0;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }

    .eventNameCheckLabel {
        font-size: 1.2em;
    }
    
    .eventNameInput {
        font-size: 1.2em;
    }
    
    input[class~="event"] {
        font-size: initial;
    }
    
    label[class~="event"] {
        font-size: initial;
    }

}

@media only screen and (max-width: 600px) {


    button {
        width: 40%;
    }

    .introButton {
        width: 40%;    
    }

    .banner {
        font-size: 4em;
    }

    .userAccountButton {
        width: 100%;
        height: 30%;
    }

    .accountDeleteButton {
        width: 100%;
        height: 30%;
    }

    .postTitle {
        font-size: 1.3em;
    }

    .postAuthor {
        font-size: 1em;
    }
}

@media only screen and (max-width: 500px) {

    main {
        padding-left: 0;
        padding-right: 0;
    }



    button {
        width: 50%;
     
    }

    .introButton {
        width: 50%;
        
    }

    .banner {
        font-size: 3em;
    }

 
}


@media only screen and (max-width: 400px) {




}

