* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.815);
    /* background-color: rgb(251, 251, 251); */

}

.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255, 0.2);
    /* background: rgba(54, 53, 48, 0.1); */
    border: solid 1px white;
    border-radius: 12;
    color: rgb(214, 213, 213);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    font-size: 8em;
    text-decoration: underline;
    font-family: 'Yellowtail', cursive;
}

.introPageFieldset {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    border: none;
}

.introPageButton {
    margin: 4px
}

